@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root, /* for create-react-app */
#__next /* for Next.js */ {
  height: 100%;
}

body {
	font-family:"Inter", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size: 18px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Proper Css */

.container { 
  padding: 40px 16px 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}


#create-form {
  border: 1px solid #ECECEC;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.04);
  padding: 32px 40px 40px;
  padding: 24px 24px 32px;
  max-width: 560px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .container { 
    padding: 40px 160px 120px;
  }
  #create-form {
    padding: 32px 40px 40px;
  }
}

#header-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#mole-logo {
  height: 80px;
  width: 80px;
}
#header-container {
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  height: 90px;
  line-height: 70px;
  font-weight: 600;
}

button {
color: #222;
 background: rgb(132, 210, 197);
 font-weight: 500;
 font-size: 22px;
 height: 48px;
 padding-inline: 32px;
 border: none;
 margin-top: 8px;
 border-radius: 4px;
 box-shadow: none;
}

/*targets the title of the create event div*/
#create-form h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 24px;
}

/* targets 'host' and 'event' field labels, might be better to target with classes in the future  */
form label {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-size: 16px;
  color: #535353;
}

/* targets the fields, might be better to target with classes in the future */
label input {
  display: block;
  border: none;
  background-color: #EDEDED;
  border-radius: 4px;
  height: 40px;
  padding-inline: 16px;
}

/*on focus border for input fields*/
input:focus {
  border: 3px solid red;
}

#host-input {
  max-width: 200px;
  width: 100%;
}

#event-input {
  max-width: 450px;
  width: 100%;
}

#event-input, #host-input {
    margin-bottom: 20px;
}

#events-list {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 50px;
}

.event {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  
}


.host-info {
  width: 820px;
  display: flex;
  column-gap: 6px;
  color: #282828;
}

.host-label {
  font-size: 22px;
  font-weight: 300;
}

.host-name {
  font-weight: 400;
  font-size: 22px;
}